<div id="navbar-container"></div>
<div class="video-container">
  <video id="localVideo" autoplay muted playsinline></video>
  <video id="remoteVideo" autoplay playsinline></video>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/broadcast/script.js"></script>
