<div id="navbar-container"></div>
<video id="localVideo" autoplay muted playsinline></video>
<video id="remoteVideo" autoplay playsinline></video>  
<script src="/socket.io/socket.io.js"></script>
<script src="/broadcast/script.js"></script>
<script src="/socket.io/socket.io.js"></script>

